.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* HEADER */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  display:flex;
}

.logo {
  background-size: cover;
  width: 183px;
}

.logo_place_header{
  background-image:url(../images/logo_place_header.svg);
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title{
  width: 730px;
  align-self: center;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle{
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color:#2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}

/* HEADER END */
/* DESCRIPTION */

.description{
  display:flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns{
  display:flex;
  width: 80%;
  justify-content:space-between;
  min-height: 300px;
}

.two-columns__brief{
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
}

.two-columns__main-text{
  width:80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.two-columns__paragraph{
 font-size: 24px;
 line-height: 34px;
}

.two-columns__span-accent{
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* DESCRIPTION END */
/* DIGITS */

.digits{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.section-title{
  width:60%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  font-size: 60px;
  line-height: 1.15;
}

.section-subtitle{
  width:60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
}

.table{
  width:1100px;
  margin:0 auto 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell{
  width:250px;
  margin:60px 0 0;
}

.table__heading{
  margin-top: 0px;
  font-size: 24px;
  line-height: 1.15;
}

.table__text{
  margin: 20px auto auto;
  font-size: 18px;
  line-height: 1.2;
}

/* DIGITS END */
/* FEYNMAN */

.feynman{
  background-color:#f2f2f2;
  height: 890px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.feynman__title{
  margin:100px auto 0;
  width:648px;
  display: flex;
  align-self:center;
  line-height: 1.15;
  font-size: 120px;
  z-index: 1;
}

.feynman__subtitle{
  display: flex;
  margin-top:70px;
  align-self:center;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}

.feynman__link{
  position: absolute;
  top:50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
}

.feynman__img{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:867px;
  height: 637px;
  z-index: 0;
}

/* FEYNMAN END */
/* KAYFMAN */

.kaufman{
  overflow: hidden;
  background-color:#1f1f1f;
  display: flex;
  flex-direction: column;
  
}

.section-title_theme_dark{
  margin-top: 90px;
  color: white;
}

.section-subtitle_theme_dark{
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table_theme_dark{
  margin-bottom: 90px;
  z-index: 1;
}

.kaufman__triangle{
  background-image:url(../images/kaufman-triangle.svg);
  position:absolute;
  width:877px;
  height: 877px;
  right: -210px;
}

/* KAYFMAN END */
/* FOOTER */

.footer{
  background-color:#1f1f1f;
  min-height: 350px;
  color:white;
  display: flex;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  width:90%;
  margin: 60px auto 40px;
}

.footer__columns_content_copyright{
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer{
  background-image:url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author{
  padding: 18px 0;
  align-self: flex-start;
  line-height: 25px;
  font-size: 18px;
}

.footer__columns_content_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__columns_content_social{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-links{
  margin-top: 20px;
  padding: 0 0 16px;
  align-items: stretch;
  justify-self: center;
}

.footer__social-icon{
  width:16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color:white;
}

/* FOOTER END */
/* TEXT PARAMETERS */

.list{
  list-style: none;
}

.blue-link{
  color: #2f80ed;
  text-decoration: none;
}

